.page-orders {
    background-color: #eee;
    padding-bottom: 65px;

    .breadcrumb {
        max-width: 1320px;
        margin: auto;

        .breadcrumb-list {
            padding: 10px 0px;
            margin: 10px 0px !important;
            align-items: center;
            display: inline-flex;
            list-style: none;

            .breadcrumb-item {
                font-size: 14px;

                a {
                    color: rgb(128, 128, 137) !important;
                    font-size: 14px;
                    text-decoration: unset !important;
                }

                .bx {
                    margin: 0px 5px;
                    font-size: 20px;
                    vertical-align: sub;
                    color: rgb(128, 128, 137);
                }
            }
        }
    }

    .box-panel {
        background-color: white;
        border-radius: 8px;
        padding: 4px 30px 36px 30px;
        .panel-header {
            .tab-main {
                .ant-tabs-ink-bar {
                    background-color: #070e35;
                }
                .ant-tabs-nav-list {
                    gap: 20px;
                }
                .ant-badge-count,
                .ant-scroll-number {
                    font-size: 10px !important;
                    height: 17px !important;
                    min-width: 17px !important;
                    line-height: 16px !important;
                    padding: 0 4px !important;
                    border-radius: 8px !important;
                }
            }
        }

        .panel-body {
            .bid-body {
                .list-footer {
                    .footer-item {
                        margin-right: 24px;
                    }
                }
            }
        }
    }
}