.page-home {
    .header {
        .header-top {
            .header-main {
                .header-input {
                    input {
                        background-color: #e1e1e1;
                        padding: 12px 50px;
                        width: 608px;
                        border-radius: 8px;
                        outline: none;
                    }
                }
            }
        }
    }
}