.header-top {
    .header-main {
        .header-input {
            input {
                background-color: #e1e1e1;
                padding: 12px 50px;
                width: 608px;
                border-radius: 8px;
                outline: none;
            }
        }
        .item-action {
            .btn-badge {
                font-size: 12px;
                font-weight: 600;
                background-color: #fd3535;
                color: #fff;
                border-radius: 50%;
                place-content: center;
                width: 14px;
                height: 14px;
                left: 17px;
                bottom: 18px;
            }
        }
    }
}